<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title>
	 <meta charset="UTF-8">
	<link href="{{url_for('static',filename='about/about.css')}}" rel="stylesheet">
</head>
<body>
<div id="nav_bar">
	<a href="/home">Home</a>
	<a href="/open"> Open Resources </a>
	<a href="about">About</a>
	<a href="/dashboard">Dashboard</a>
</div>

<div id="top">
	<h1>LIBRARY PORTAL</h1>
	<h2>VCE </h2>
	<h2>Ibrahimbagh,HYDERABAD</h2>
</div>
<div id="left">
	<br>
	<img src="http://www.vce.ac.in/img/vlogo.gif" alt="profile pic">
	<h4><em>Shelana shobathe vidya</em></h4>
	<h1>INFO</h1>
	<hr>
	<h2>Made By</h2>
	<h3>Sreeram Kollu
		<br>
	Vishal Reddy
    <br>
        poojitha
    </h3>
	<h2>Contact</h2>
	<h3>8555953174
		<br>7674899795</h3>
	<h2>Email for any queries</h2>
	<h3>kollu.sriramchowdary@gmail.com
		<br>
	vishalreddy897@gmail.com</h3>
	<h1>CONTENTS</h1>
	<hr>
	<h2>Open resources</h2>
	<h3>books accesible to everyone</h3>
	<h2>EBooks, And all books</h2>
	<h3>to the members of VCE</h3>


</div>
<div id="right">
	<h1>LANGUAGES USED</h1>
	<hr>
	<ul>
		<li>Flask</li>
		<li>Python3</li>
		<li>SQLITE3</li>
		<li>CSS</li>
		<li>JavaScript</li>
		<li>HTML</li>
		<li>Jinja2</li>
		<li>Flask WTf</li>
		<li>MySQL</li>
		<li>Flask-send mail</li>
	</ul>
	<h1>FEATURES</h1>
	<hr>
	<ul>
		<li>1) SIGNUP AUTHENTICATION WITH EMAIL CONFORMATION.</li>
		<br>
		<li>2) LOGIN IN AS STUDENT, FACULTY , ADMIN.</li>
		<br>
		<li>3) OPEN RESOURCES ACCESIBLE TO PUBLIC.</li>
		<br>
		<li>4) NEW ARRIVALS AT DASHBOARD.</li>
		<br>
		<li>5) BOOK REQUEST MESSEAGE TO ADMIN AND RETURN MESSAGE TO USER ABOUT THE BOOK CONFORMATION.</li>
		<br>
		<li>6) USER CAN CHECK HIS BOOK ISSUE HISTORY, NO OF DAYS FOR BOOK RETURN DEADLINE.</li>
		<br>
		<li>7)<strong>  REMAINDER MAIL FROM LIBRARIAN TO USER FOR LATE RETURN AND PENALITY FOR BOOKS RETURNED LATE.</strong></li>
		<br>
		<li>8) MAIL TO USER AFTER BOOK IS ISSUED.</li>
		<br>
    </ul>


	<h1>PROJECT DESCRIPTION</h1>
	<hr>
	<h3>About project</h3>
	<h2>We have designed a Library portal which can be used to manage digital copies as well as hard copies of various generes and publications.
		<strong>Users</strong> are of two types: 1.Admin 2.User,
	Admin can add copies, can make other people as admin and have all other privelages of normal user.
Users can view/ download digital copies if avaiable.
<br>
Notifications for over-due is sent to all users through mail service.
<br>
A user can request a book for issue
and when admins accepts user request for book , notification to student is sent to his portal.
<br>
Open resources are the one accesible to all</h2>
	<br>
	<h3>Requirements to run</h3>
	<h2>&nbsp;&nbsp;This project was done in April,2019.
	Requirements are flask,jinja2, python3, sqlalchemy or MySQL, sqlite3, HTML, CSS and javascript.</h2>
</div>
<!-- begin wwww.htmlcommentbox.com -->

<!-- end www.htmlcommentbox.com -->
</body>
</html>
