{% extends 'layout.html' %}

{% block body %}
  <h1> All Books </h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th> Ratings </th>
      <th> Copy Count </th>
      <th> ISBN </th>
    {% for book in Books %}
      <tr>
       <th><a href="{{'/books/%s'%book.isbn}}">{{book.title}}</a></th>
       <th>{{ book.author }}</th>
       <th>{{ book.ratings }}</th>
       <th>{{book.copya}}</th>
       <th>{{ book.isbn }} </th>
     </tr>
    {% endfor %}
  </table>
{% endblock %}
